In [1]:
import pandas as pd

In [2]:
guardian_dataset_dir = f"../../datasets/original/Guardian_Dataset.csv"
guardian_df = pd.read_csv(guardian_dataset_dir)
print(guardian_df.head())

   MatchID              Home         Away                       Date   Season  \
0        0           Swansea        Stoke  Fri 11 May 2018 17.23 BST  2017-18
1        1  Newcastle United      Chelsea  Fri 11 May 2018 17.06 BST  2017-18
2        2         Tottenham    Leicester  Fri 11 May 2018 16.43 BST  2017-18
3        3         Liverpool     Brighton  Fri 11 May 2018 16.33 BST  2017-18
4        4           Burnley  Bournemouth  Fri 11 May 2018 16.23 BST  2017-18

                                                Text
0  A match many thought would have so much riding...
1  The consensus suggests this will be Antonio Co...
2  Leicester’s 3-1 win over Arsenal on Wednesday ...
3  Complaints over Liverpool’s recent league form...
4  Burnley are looking for their first win in fiv...

In [3]:
game = guardian_df[(guardian_df['Home'] == 'Swansea') & (guardian_df['Away'] == 'Stoke') & (guardian_df['Season'] == '2017-18')]
print(game)

   MatchID     Home   Away                       Date   Season  \
0        0  Swansea  Stoke  Fri 11 May 2018 17.23 BST  2017-18

                                                Text
0  A match many thought would have so much riding...

In [4]:
kaggle_dataset_dir = f"../../datasets/original/Kaggle_Dataset.csv"
kaggle_df = pd.read_csv(kaggle_dataset_dir, encoding='ISO-8859-1')
print(kaggle_df.head())

    Season              DateTime     HomeTeam        AwayTeam  FTHG  FTAG FTR  \
0  1993-94  1993-08-14T00:00:00Z      Arsenal        Coventry     0     3   A
1  1993-94  1993-08-14T00:00:00Z  Aston Villa             QPR     4     1   H
2  1993-94  1993-08-14T00:00:00Z      Chelsea       Blackburn     1     2   A
3  1993-94  1993-08-14T00:00:00Z    Liverpool  Sheffield Weds     2     0   H
4  1993-94  1993-08-14T00:00:00Z     Man City           Leeds     1     1   D

   HTHG  HTAG  HTR  ... HST  AST  HC  AC  HF  AF  HY  AY  HR  AR
0   NaN   NaN  NaN  ... NaN  NaN NaN NaN NaN NaN NaN NaN NaN NaN
1   NaN   NaN  NaN  ... NaN  NaN NaN NaN NaN NaN NaN NaN NaN NaN
2   NaN   NaN  NaN  ... NaN  NaN NaN NaN NaN NaN NaN NaN NaN NaN
3   NaN   NaN  NaN  ... NaN  NaN NaN NaN NaN NaN NaN NaN NaN NaN
4   NaN   NaN  NaN  ... NaN  NaN NaN NaN NaN NaN NaN NaN NaN NaN

[5 rows x 23 columns]

In [5]:
standardized_team_names = {
    "AFC Bournemouth": ["Bournemouth"],
    "Birmingham City": ["Birmingham"],
    "Blackburn Rovers": ["Blackburn"],
    "Bolton Wanderers": ["Bolton"],
    "Bradford City": ["Bradford"],
    "Brighton & Hove Albion": ["Brighton"],
    "Cardiff City": ["Cardiff"],
    "Charlton Athletic": ["Charlton"],
    "Coventry City": ["Coventry"],
    "Crystal Palace": ["Palace"],
    "Derby County": ["Derby"],
    "Huddersfield Town": ["Huddersfield"],
    "Hull City": ["Hull"],
    "Ipswich Town": ["Ipswich"],
    "Leeds United": ["Leeds Utd", "Leeds"],
    "Leicester City": ["Leicester"],
    "Manchester City": ["Man City", "Manchester city"],
    "Manchester United": ["Man Utd", "Man United"],
    "Newcastle United": ["Newcastle Utd"],
    "Norwich City": ["Norwich"],
    "Nottingham Forest": ["Nott'm Forest", "Nottingham"],
    "Oldham Athletic": ["Oldham"],
    "Portsmouth": ["Pompey"],
    "Queens Park Rangers": ["QPR"],
    "Sheffield United": ["Sheff Utd"],
    "Sheffield Wednesday": ["Sheff Wed", "Sheffield Weds"],
    "Stoke City": ["Stoke"],
    "Swansea City": ["Swansea"],
    "Tottenham Hotspur": ["Tottenham", "Tottenham Hostpur", "Spurs"],
    "West Bromwich Albion": ["West Brom", "West Bromwich"],
    "West Ham United": ["West Ham"],
    "Wigan Athletic": ["Wigan"],
    "Wolverhampton Wanderers": ["Wolves"],
}

def standardize_team_name(name, standardized_names):
    for standard_name, variations in standardized_names.items():
        if name in variations:
            return standard_name
    return name

guardian_df['Home'] = guardian_df['Home'].apply(lambda x: standardize_team_name(x, standardized_team_names))
guardian_df['Away'] = guardian_df['Away'].apply(lambda x: standardize_team_name(x, standardized_team_names))

kaggle_df['HomeTeam'] = kaggle_df['HomeTeam'].apply(lambda x: standardize_team_name(x, standardized_team_names))
kaggle_df['AwayTeam'] = kaggle_df['AwayTeam'].apply(lambda x: standardize_team_name(x, standardized_team_names))

In [6]:
guardian_teams = set(guardian_df['Home']).union(set(guardian_df['Away']))
print(f"Guardian Team Names:\n{sorted(guardian_teams)}")

kaggle_teams = set(kaggle_df['HomeTeam']).union(set(kaggle_df['AwayTeam']))
print(f"\nKaggle Team Names:\n{sorted(kaggle_teams)}")

guardian_not_in_kaggle = guardian_teams - kaggle_teams
print(f"\nTeams in Guardian but not in Kaggle:\n{sorted(guardian_not_in_kaggle)}")

kaggle_not_in_guardian = kaggle_teams - guardian_teams
print(f"\nTeams in Kaggle but not in Guardian:\n{sorted(kaggle_not_in_guardian)}")

Guardian Team Names:
['AFC Bournemouth', 'Arsenal', 'Aston Villa', 'Birmingham City', 'Blackburn Rovers', 'Bolton Wanderers', 'Bradford City', 'Brighton & Hove Albion', 'Bristol City', 'Burnley', 'Bury', 'Cardiff City', 'Carlisle United', 'Charlton Athletic', 'Chelsea', 'Chesterfield', 'Club Brugge', 'Colchester United', 'Coventry City', 'Crystal Palace', 'Derby County', 'Dinamo Zagreb', 'Everton', 'Fulham', 'Huddersfield Town', 'Hull City', 'Juventus', 'Leeds United', 'Leicester City', 'Lincoln City', 'Liverpool', 'MK Dons', 'Maccabi Tel Aviv', 'Manchester City', 'Manchester United', 'Middlesbrough', 'Millwall', 'Newcastle', 'Newcastle United', 'Norwich City', 'Nottingham Forest', 'Oxford United', 'PSV Eindhoven', 'Peterborough United', 'Portsmouth', 'Preston North End', 'Queens Park Rangers', 'Reading', 'Rochdale', 'Sheffield United', 'Sheffield Wednesday', 'Shrewsbury Town', 'Southampton', 'Stoke City', 'Sunderland', 'Sutton United', 'Swansea City', 'Tottenham Hotspur', 'Walsall', 'Watford', 'West Bromwich Albion', 'West Ham United', 'Wigan Athletic', 'Wolverhampton Wanderers']

Kaggle Team Names:
['AFC Bournemouth', 'Arsenal', 'Aston Villa', 'Barnsley', 'Birmingham City', 'Blackburn Rovers', 'Blackpool', 'Bolton Wanderers', 'Bradford City', 'Brentford', 'Brighton & Hove Albion', 'Burnley', 'Cardiff City', 'Charlton Athletic', 'Chelsea', 'Coventry City', 'Crystal Palace', 'Derby County', 'Everton', 'Fulham', 'Huddersfield Town', 'Hull City', 'Ipswich Town', 'Leeds United', 'Leicester City', 'Liverpool', 'Manchester City', 'Manchester United', 'Middlesbrough', 'Newcastle', 'Norwich City', 'Nottingham Forest', 'Oldham Athletic', 'Portsmouth', 'Queens Park Rangers', 'Reading', 'Sheffield United', 'Sheffield Wednesday', 'Southampton', 'Stoke City', 'Sunderland', 'Swansea City', 'Swindon', 'Tottenham Hotspur', 'Watford', 'West Bromwich Albion', 'West Ham United', 'Wigan Athletic', 'Wimbledon', 'Wolverhampton Wanderers']

Teams in Guardian but not in Kaggle:
['Bristol City', 'Bury', 'Carlisle United', 'Chesterfield', 'Club Brugge', 'Colchester United', 'Dinamo Zagreb', 'Juventus', 'Lincoln City', 'MK Dons', 'Maccabi Tel Aviv', 'Millwall', 'Newcastle United', 'Oxford United', 'PSV Eindhoven', 'Peterborough United', 'Preston North End', 'Rochdale', 'Shrewsbury Town', 'Sutton United', 'Walsall']

Teams in Kaggle but not in Guardian:
['Barnsley', 'Blackpool', 'Brentford', 'Ipswich Town', 'Oldham Athletic', 'Swindon', 'Wimbledon']

In [7]:
combined_df = pd.merge(guardian_df, kaggle_df, left_on=['Home', 'Away', 'Season'], right_on=['HomeTeam', 'AwayTeam', 'Season'], how='left')
combined_df = combined_df.drop(columns=['HomeTeam', 'AwayTeam'])
print(combined_df.head())

   MatchID               Home                    Away  \
0        0       Swansea City              Stoke City
1        1   Newcastle United                 Chelsea
2        2  Tottenham Hotspur          Leicester City
3        3          Liverpool  Brighton & Hove Albion
4        4            Burnley         AFC Bournemouth

                        Date   Season  \
0  Fri 11 May 2018 17.23 BST  2017-18
1  Fri 11 May 2018 17.06 BST  2017-18
2  Fri 11 May 2018 16.43 BST  2017-18
3  Fri 11 May 2018 16.33 BST  2017-18
4  Fri 11 May 2018 16.23 BST  2017-18

                                                Text              DateTime  \
0  A match many thought would have so much riding...  2018-05-13T00:00:00Z
1  The consensus suggests this will be Antonio Co...                   NaN
2  Leicester’s 3-1 win over Arsenal on Wednesday ...  2018-05-13T00:00:00Z
3  Complaints over Liverpool’s recent league form...  2018-05-13T00:00:00Z
4  Burnley are looking for their first win in fiv...  2018-05-13T00:00:00Z

   FTHG  FTAG  FTR  ...   HST  AST   HC   AC    HF    AF   HY   AY   HR   AR
0   1.0   2.0    A  ...  11.0  5.0  6.0  0.0  12.0   9.0  1.0  2.0  0.0  0.0
1   NaN   NaN  NaN  ...   NaN  NaN  NaN  NaN   NaN   NaN  NaN  NaN  NaN  NaN
2   5.0   4.0    H  ...   6.0  9.0  4.0  4.0   9.0  13.0  1.0  2.0  0.0  0.0
3   4.0   0.0    H  ...  11.0  1.0  7.0  3.0   3.0   6.0  0.0  0.0  0.0  0.0
4   1.0   2.0    A  ...   4.0  5.0  7.0  8.0  14.0   9.0  0.0  0.0  0.0  0.0

[5 rows x 26 columns]

In [8]:
nan_rows = combined_df.isna().any(axis=1).sum()
total_rows = len(combined_df)
print(f"Number of rows with at least one NaN value: {nan_rows} / {total_rows}")

Number of rows with at least one NaN value: 168 / 1506

In [9]:
combined_df = combined_df.dropna()
total_rows = len(combined_df)
nan_rows = combined_df.isna().any(axis=1).sum()
print(f"Number of rows after dropping NaN values: {nan_rows} / {total_rows}")

Number of rows after dropping NaN values: 0 / 1338

In [ ]:
combined_dataset_dir = f"../../datasets/processed/Combined_Dataset.csv"
combined_df.to_csv(combined_dataset_dir, index=False)